<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_Ad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{250, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 576}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Ad_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{250, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1510, 702}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Info.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 24}, {110, 110}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{110, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1938, 562}, {110, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Info_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 24}, {110, 110}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{110, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1938, 450}, {110, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{250, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1724, 576}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOff_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{250, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1724, 450}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{250, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 702}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOn_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{250, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1510, 576}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Rate.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{240, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 450}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Rate_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 10}, {212, 124}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{212, 124}</string>
			<key>spriteSourceSize</key>
			<string>{240, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1510, 450}, {212, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Start.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 25}, {653, 223}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{653, 223}</string>
			<key>spriteSourceSize</key>
			<string>{687, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 0}, {653, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Start_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 25}, {653, 223}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{653, 223}</string>
			<key>spriteSourceSize</key>
			<string>{687, 279}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1296, 225}, {653, 223}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainPageCat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{149, 380}, {1294, 1268}}</string>
			<key>spriteOffset</key>
			<string>{28, 10}</string>
			<key>spriteSize</key>
			<string>{1294, 1268}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 2048}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1294, 1268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainPageLogo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{149, 92}, {1220, 231}}</string>
			<key>spriteOffset</key>
			<string>{-9, 17}</string>
			<key>spriteSize</key>
			<string>{1220, 231}</string>
			<key>spriteSourceSize</key>
			<string>{1536, 449}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1270}, {1220, 231}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>MainPage-ipadhd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>MainPage-ipadhd</string>
			<key>textureFileName</key>
			<string>MainPage-ipadhd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>MainPage-ipadhd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>