<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Button_Ad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {107, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{868, 232}, {107, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Ad_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {107, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 297}, {107, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Info.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {57, 55}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{57, 55}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{866, 362}, {57, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Info_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {57, 55}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{57, 55}</string>
			<key>spriteSourceSize</key>
			<string>{75, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{925, 362}, {57, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOff.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {107, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{759, 232}, {107, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOff_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {107, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{759, 297}, {107, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {107, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 232}, {107, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_MusicOn_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 5}, {107, 63}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{107, 63}</string>
			<key>spriteSourceSize</key>
			<string>{125, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{868, 297}, {107, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Rate.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {106, 63}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{106, 63}</string>
			<key>spriteSourceSize</key>
			<string>{120, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 362}, {106, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Rate_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 5}, {106, 63}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{106, 63}</string>
			<key>spriteSourceSize</key>
			<string>{120, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 362}, {106, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Start.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {328, 114}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{328, 114}</string>
			<key>spriteSourceSize</key>
			<string>{344, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 0}, {328, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Button_Start_HL.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {328, 114}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{328, 114}</string>
			<key>spriteSourceSize</key>
			<string>{344, 140}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 116}, {328, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainPageCat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 190}, {648, 634}}</string>
			<key>spriteOffset</key>
			<string>{14, 5}</string>
			<key>spriteSize</key>
			<string>{648, 634}</string>
			<key>spriteSourceSize</key>
			<string>{768, 1024}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {648, 634}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainPageLogo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 46}, {612, 117}}</string>
			<key>spriteOffset</key>
			<string>{-4, 8}</string>
			<key>spriteSize</key>
			<string>{612, 117}</string>
			<key>spriteSourceSize</key>
			<string>{768, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 636}, {612, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>MainPage-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>MainPage-ipad</string>
			<key>textureFileName</key>
			<string>MainPage-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>MainPage-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>